@font-face{
    font-family: 'heebo';
    src: url('./style/Heebo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'heebo';
    src: url('./style/Heebo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Yantramanav';
    src: url('./style/Yantramanav-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{

    --color-dark: #000000;
    --color-dark-alt: #131619; 
    --color-light:#ffffff;
    --color-dark-gray:#404040;
    --color-light-gray:#c4c4c4;
    

    --border-radius:30px;
    --border: 1px solid var(--color-light);

    --font-family-base:'Heebo', sans-serif;
    --font-family-accent:'Yantramanav', sans-serif;


    --input-height:54px;

    --container-width:1300px;
    --container-padding-x:15px;

    --transition-duration:0.2s;

    --header-height:90px;

}

body{
    font-family: var(--font-family-base);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: var(--color-light-gray);
    background-color: var(--color-dark);

}
a,button,input,textarea,svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);
}

a:hover{
  color: var(--color-light-gray);
}

.button.transparent{
  position: relative;
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 80px;
  background-color:transparent;
  border: var(--border);
}

.button.transparent::after{
content: '';
  aspect-ratio: 1;
height: 100%;
background: url(/imges/svg.qodef-svg--button-arrow.svg) center/70% no-repeat;
position: absolute; 
right: 0;
border: var(--border);
border-radius: 50%;
}

.button.transparent:hover{
  color: var(--color-dark);
  background-color: var(--color-light);
}



.container{
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline:var(--container-padding-x) ;
}


.visual-hide-info{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,h2,h4,h5,h6,h3{
    font-weight: 700;
    text-transform: uppercase;
}
p{
  margin-block: 0;
}

p:not([class]):not(:last-child){
  margin-bottom: 20px;
}

.title-medium{
  font-size: 40px;
  line-height: 1.3;
  color: var(--color-light);
}

 .backdrop-title{
  position: relative;
  z-index: 2;
 }
 .backdrop-title::before{
  content: '';
  display: block;
  width: 26px;
  position:absolute;
  right: calc(100% + 8px);
  aspect-ratio: 1;
  background: url(/imges/svg.qodef-svg--title-decoration.svg) center/contain no-repeat;
 }

 .backdrop-title::after{
  color: transparent;
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  left: -0.6em;
  top: -0.45em;
  font-size: 2.8em;
  font-family: var(--font-family-accent);
  -webkit-text-stroke:1px var(--color-light-gray); 
  text-storke: 1px var(--color-light-gray);
}

.button{
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px ;
  font-weight: 700;
  text-decoration: none;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.2px;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--color-light);
  border-radius: var(--border-radius);

}

.button:hover{
  background-color: var(--color-light-gray);
}
.header{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  column-gap: 20px;
  min-height: var(--header-height);
  padding-inline: 32px;
  background-color: var(--color-dark-alt);
}

.logo{
  flex-shrink: 0;
}

.header .header-list{
  display: flex;
  column-gap: 50px;
  flex-wrap: 50px;
}

 .header-link{
  display: inline-flex;
  align-items: center;
  height: var(--header-height);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
text-decoration: none;
column-gap: 7px;
}

.header-link.active::after{
  width: 5px;
  content: "";
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header-active{
  display: flex;
  column-gap: 40px;
}

.burger-button{
  display: inline-flex;
  flex-direction: column;
 justify-content: center;
  row-gap: 4px;
  padding-left: 8px;
  color:var(--color-light);
  width: 40px;
  aspect-ratio: 1;
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
}

.burger-button:hover{
  color: var(--color-light-gray);
  border-color: currentColor;
}

.hbbl{

width: 6px;
height: 1px;
background-color:currentColor;
box-shadow: 16px 0 0 currentColor;
}



.banner-body{
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 36px 70px;
  min-height: calc(100vh - var(--header-height));
  color: var(--color-light);
  background-color: var(--color-dark-alt);
}

.txtcrs{
  text-transform: uppercase;
}

.title {
  display: flex;
  align-items: end;
  font-size: clamp(16px,1.555vw,30px);
  line-height: 126%;
  font-weight: 700;
}
.title::before{
  content: '';
  width: clamp(50px,10.10vw,194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background: url('/imges/Frame.svg') center/contain no-repeat;

}

.title-txt{
  font-size: min(18.75vw,360px);
  line-height: 1;
}

.banner-pagination-list{
  display: flex;
  justify-content: center;

  
}

.banner-pagination-list{
  display: flex;
}

.banner-pagination-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7.5px;
  background-color: transparent;
  border: none;
}

.banner-pagination-button::after{
  content: '';
  width: clamp(5px,1vw,10px);
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.banner-pagination-button.active::after{
  background-color: var(--color-light);
}

.banner-pagination-button:not(.active):hover::after{
  border-color: var(--color-dark-gray);
  background: var(--color-dark-gray);
}

.motivation-item:nth-child(2n){
  background-color: var(--color-dark-alt);
}
.motivation-item:nth-child(2n) .motivation-card{

  flex-direction: row-reverse;
}


.motivation-card{
  display: flex;
  justify-content: start;
  column-gap: clamp(30px,10.42vw,200px);
  align-items: center;
}

.motivation-card-body{
  padding-left: 35px;
}

.motivation-card-img{
  margin-block: -60px ;
}

.motivation-card-title:not(:last-child){
  margin-bottom: 14px;
}

.motivation-card-description{
  width: 400px;
}

.motivation-card-description:not(:last-child){
  margin-bottom: 37px;
}

@media(max-width: 1024px){

  .header{
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
    padding-inline: 15px;
    
  }
  
  .header-nav{
    order: 1;
    flex-basis: 100%;

    display: flex; 

    justify-content: center; 

    align-items: center;
  }
  .header-item{
    height: 50px;
  }

  .banner-body{
    padding-inline: 15px;
  }
}

@media(max-width: 450px)
{
.header{
column-gap: 12px;
}
.header-active {
    display: flex;
    column-gap: 14px;
}
}